{% extends "home/base.html" %}
{% load hosts %}


{% block head %}
<title>The Clone Wars API</title>
{% endblock %}


{% block content %}
<div class="mx-auto flex flex-col w-11/12 sm:w-9/12 md:w-9/12 lg:w-3/4">
    <div class="border-solid border-2 rounded-lg p-8">
        <h1 class="text-center text-4xl font-bold">The Clone Wars API</h1>
        <div class="grid grid-cols-3 gap-4">
            <div>
                The Clone Wars API is a HTTP web service for data about the animated series 
                <a href="https://www.imdb.com/title/tt0458290/" class="text-blue-500 hover:underline">Star Wars: The Clone Wars</a>.
                You can find information about the characters, planets, species, and vehicles that have appeared in series.
            </div>
            <div>
                You can try out the API using this link. <a href="{% host_url 'documentation_view' host 'docs' %}try-it-out" class="text-blue-500 hover:underline">Try it out!</a> 
                There, you can use a demo of the service. It will show you the data's layout and their request URLs.
            </div>
        </div>
    </div>
</div>
<!-- <a href="{% host_url 'index' host 'api' %}">API</a>
<a href="{% host_url 'documentation_view' host 'docs' %}">Documentation</a> -->
{% endblock %}