@charset "UTF-8";
html {
  scroll-behavior: smooth; }

code, pre {
  background-color: #e2e7ec;
  border-radius: .25rem;
  padding-left: .25rem;
  padding-right: .25rem;
  color: black; }

pre {
  overflow: auto;
  width: 75%; }
  @media (max-width: 1280px) {
    pre {
      width: 80%; } }
  @media (max-width: 1024px) {
    pre {
      width: 90%; } }
  @media (max-width: 768px) {
    pre {
      width: 100%; } }

#to-top-btn {
  cursor: pointer;
  width: max-content;
  right: 0;
  bottom: 0; }
  #to-top-btn svg {
    width: 2rem;
    height: 2rem;
    fill: black;
    opacity: 0.5; }
  #to-top-btn.small {
    color: red; }
  #to-top-btn.medium {
    color: blue; }
  #to-top-btn.large {
    color: green; }
  #to-top-btn.xlarge {
    color: yellow; }

#docs-sidenav {
  border-radius: .5rem;
  top: 1rem; }
  #docs-sidenav ul a:hover {
    color: #4280e6; }
  #docs-sidenav .docs-link-headings a {
    font-weight: bold; }
  #docs-sidenav .docs-link-headings .router-link-active {
    color: green; }
  #docs-sidenav .nav-sections a {
    margin-left: 1rem; }
  #docs-sidenav #sidenav-current {
    background-color: #4747ec;
    border-radius: inherit;
    padding: .5rem;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer; }
    #docs-sidenav #sidenav-current div::after {
      right: 1rem;
      position: absolute;
      content: '\002B'; }
    #docs-sidenav #sidenav-current div.active::after {
      content: '\2212'; }
    #docs-sidenav #sidenav-current.active {
      border-bottom-left-radius: 0rem;
      border-bottom-right-radius: 0rem; }

#docs-content #resources h2 {
  font-weight: 700; }
#docs-content #resources .resources-sections div {
  margin-bottom: 1rem; }
  #docs-content #resources .resources-sections div .resources-sections-headings {
    font-weight: 600; }
#docs-content #resources .resources-sections .attribute-type {
  font-style: italic; }
  #docs-content #resources .resources-sections .attribute-type::before {
    content: ' --- '; }
#docs-content #resources .resources-sections .resource-count {
  color: red; }
#docs-content #resources ul {
  margin-left: .5rem; }
  #docs-content #resources ul ul {
    margin-left: 2rem; }
  #docs-content #resources ul .description::before {
    content: ' --- '; }
  #docs-content #resources ul li:before {
    content: '·';
    font-size: 24px;
    vertical-align: middle;
    line-height: 0px; }
#docs-content .search-options-list {
  background-color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: .5rem;
  border-color: red;
  border-width: 1px;
  border-style: solid; }
  #docs-content .search-options-list.visible {
    display: block; }
#docs-content .search-options {
  display: inline;
  word-wrap: none;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #docs-content .search-options:hover {
    color: #4280e6;
    fill: #4280e6; }
  #docs-content .search-options .dropdown-icon {
    display: inline;
    margin-left: -.3rem; }
    #docs-content .search-options .dropdown-icon.more {
      vertical-align: text-top; }
    #docs-content .search-options .dropdown-icon.less {
      vertical-align: text-bottom; }
    #docs-content .search-options .dropdown-icon.show {
      display: inline; }
    #docs-content .search-options .dropdown-icon.hide {
      display: none; }
#docs-content #try-it-out {
  /* Firefox */ }
  #docs-content #try-it-out input::-webkit-outer-spin-button,
  #docs-content #try-it-out input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  #docs-content #try-it-out input[type=number] {
    -moz-appearance: textfield; }
  #docs-content #try-it-out .demo-resource-btn {
    margin-top: .5rem;
    margin-right: .5rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: .25rem;
    font-size: 1.5rem; }
    #docs-content #try-it-out .demo-resource-btn:hover {
      background-color: #3c3c3c;
      color: white; }
    #docs-content #try-it-out .demo-resource-btn.active-demo-resource-btn {
      color: #FFDE06;
      background-color: black;
      border-color: black; }
  #docs-content #try-it-out .demo-result {
    max-height: 32rem;
    padding-top: .5rem;
    padding-bottom: 1rem; }
  #docs-content #try-it-out .query-variable {
    color: red;
    font-weight: bold; }
  #docs-content #try-it-out .query-value {
    color: #00a500;
    font-weight: bold; }

/*# sourceMappingURL=documentation.css.map */
