$md-breakpoint: 768px;
$lg-breakpoint: 1024px;
$xl-breakpoint: 1280px;

html {
    scroll-behavior: smooth;
}

code, pre {
    background-color: #e2e7ec;
    border-radius: .25rem;
    padding-left: .25rem;
    padding-right: .25rem;
    color: black;
}

pre {
    overflow: auto;
    width: 75%;
    @media (max-width: $xl-breakpoint){
        width: 80%;
    }
    @media (max-width: $lg-breakpoint){
        width: 90%;
    }
    @media (max-width: $md-breakpoint){
        width: 100%;
    }
}

#docs-sidenav {
    border-radius: .5rem;
    top: 1rem;

    ul a:hover {
        color: rgb(66, 128, 230);
    }

    .docs-link-headings {
        a {
            font-weight: bold;
        }

        .router-link-active {
            color: green;
        }
    }

    .nav-sections {
        a {
            margin-left: 1rem;
        }
    }

    #sidenav-current {
        background-color: rgb(71, 71, 236);
        border-radius: inherit;
        padding: .5rem;
        font-weight: bold;
        font-size: 1.5rem;
        cursor: pointer;

        div {
            &::after {
                right: 1rem;
                position: absolute;
                content: '\002B';
            }
            &.active::after {
                content: '\2212';
            }
        }

        &.active {
            border-bottom-left-radius: 0rem;
            border-bottom-right-radius: 0rem;
        }
    }
}

#docs-content {
    #resources {
        h2 {
            font-weight: 700;
        }

        .resources-sections {
            div {
                margin-bottom: 1rem;

                .resources-sections-headings {
                    font-weight: 600;
                }
            }

            .attribute-type {
                font-style: italic;

                &::before {
                    content: ' --- ';
                }
            }

            .resource-count {
                color: red;
            }
        }
        ul {
            margin-left: .5rem;

            ul {
                margin-left: 2rem;
            }
            .description {
                &::before {
                    content: ' --- ';
                }
            }

            li:before {
                content: '·';
                font-size: 24px;
                vertical-align: middle;
                line-height: 0px;
            }
        }
    }

    .search-options-list {
        background-color: white;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        border-radius: .5rem;
        border-color: red;
        border-width: 1px;
        border-style: solid;

        &.visible {
            display: block;
        }
    }

    .search-options {
        display: inline;
        word-wrap: none;
        cursor: pointer;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        
        &:hover {
            color: #4280e6;
            fill: #4280e6;
        }

        .dropdown-icon {
            display: inline;
            margin-left: -.3rem;

            &.more {
                vertical-align: text-top;
            }
            &.less {
                vertical-align: text-bottom;
            }

            &.show {
                display: inline;
            }

            &.hide {
                display: none;
            }
        }
    }

    #try-it-out {
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        .demo-resource-btn {
            margin-top: .5rem;
            margin-right: .5rem;
            font-weight: bold;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: .5rem;
            padding-bottom: .5rem;
            border-style: solid;
            border-width: 1px;
            border-color: black;
            border-radius: .25rem;
            font-size: 1.5rem;

            &:hover {
                background-color: rgb(39, 39, 39);
                color: white;
            }

            &.active-demo-resource-btn {
                color: #FFDE06;
                background-color: black;
                border-color: black;
            }
        }
    }
    
}